body {
    font-family: "Times New Roman", serif;
    background-color: rgba(255, 255, 0, 0.192);
    height: 125vh;
    margin: 40px;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

hr {
    border: 1px solid orange;
}

#mainList {
    font-size: 20px;
    width: 300px;
    padding: 20px 50px;
    border: 2px solid rgba(255, 153, 0, 0.644);
    background-color: rgba(208, 255, 0, 0.466);
    border-radius: 20px;
    margin: 60px auto;
}

li {
    margin-bottom: 2px;
    width: 900px;
}
.containerImg {
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.navigationA {
    margin: 16px 0px;
    background-color: rgba(255, 166, 0, 0.3);
    border: 2px solid orange;
    border-radius: 6px;
    text-align: center;
    padding: 6px;
    width: 90px;
}